# ignore Maven output directory
target/
# ignore Eclipse files
.classpath
.project
# ignore Eclipse directories
.metadata/
.settings/
bin/

# Java class files
*.class

# Package Files #
*.jar
*.war
*.ear

# Backup Files
*.*~
