<html>
<body>

<div class="tab">

	<div class="headline">
	</div>

	<div class="filterBox">

		<div class="filter">
		</div>

		<div class="sort">
		</div>

	</div>

	<!-- individual content -->

</div>

<div class="tabPreviewContainer">

	<div class="infoTab">	<!-- displays static information --> <!--TODO: also make an own file for this area-->
	</div>

	{include tabPreviews/News}
	{include tabPreviews/Users}
	{include tabPreviews/Photos}
	{include tabPreviews/Events}
	{include tabPreviews/Venues}
	{include tabPreviews/Reviews}
	{include tabPreviews/Bands}
	{include tabPreviews/Records}
	{include tabPreviews/Tracks}			


</div>

</body>
</html>
