<!-- input parameters:
Event: a list of events, containing their title, date, the name of the venue it takes place at and the URL of each the event and its venue

 -->
<div class="tabPreview" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
	<h3>Events</h3>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="TextSuggesionstList" style="list-style: none">	<!-- a table may be considered as an alternative to the ulist -->
		<li>
			event[0].date - <a href event[0].url>event[0].title</a> <a href event[0].venue.url>event[0].venue.name</a>
		</li>
		<li>
			event[1].date - <a href event[1].url>event[1].title</a> <a href event[1].venue.url>event[1].venue.name</a>
		</li>
		<li>
			event[2].date - <a href event[2].url>event[2].title</a> <a href event[2].venue.url>event[2].venue.name</a>
		</li>
		<li>
			event[3].date - <a href event[3].url>event[3].title</a> <a href event[3].venue.url>event[3].venue.name</a>
		</li>
		<li>
			event[4].date - <a href event[4].url>event[4].title</a> <a href event[4].venue.url>event[4].venue.name</a>
		</li>
        </ul>
	</div>

</div>
