<!-- input parameters:
Photos: a list of photos, containing at least their names, (gallery) url and a thumbnail version of the picture itself

 -->
<div class="tabPreview" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
	<h3>Photos</h3>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="ImageSuggesionstList" style="list-style: none;display: inline;">
            <li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="photo[0].url"><img src="{photo[0].Thumb}">photo[0].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="photo[1].url"><img src="{photo[1].Thumb}">photo[1].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="photo[2].url"><img src="{photo[2].Thumb}">photo[2].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="photo[3].url"><img src="{photo[3].Thumb}">photo[3].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="photo[4].url"><img src="{photo[4].Thumb}">photo[4].name</a>
				</div>
			</li>
        </ul>
	</div>

</div>
