<!-- input parameters:
records: s list of records, containing at least their names, url and a (thumbnail) picture

 -->
<div class="tabPreview" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
	<h3>Records</h3>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="ImageSuggesionstList" style="list-style: none;display: inline;">
            <li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="records[0].url"><img src="{records[0].ProfileThumb}">records[0].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="records[1].url"><img src="{records[1].ProfileThumb}">records[1].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="records[2].url"><img src="{records[2].ProfileThumb}">records[2].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="records[3].url"><img src="{records[3].ProfileThumb}">records[3].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="records[4].url"><img src="{records[4].ProfileThumb}">records[4].name</a>
				</div>
			</li>
        </ul>
	</div>

</div>
