<!-- input parameters:
Review: a list of reviews, containing their title, name of its authors and the rating (stars)

 -->
<div class="tabPreview" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
	<h3>Reviews</h3>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="TextSuggesionstList" style="list-style: none">	<!-- a table may be considered as an alternative to the ulist -->
		<li>
			review[0].stars - <a href review[0].author.url>review[0].author.name</a>: <a href review[0].url>review[0].url</a>
		</li>
		<li>
			review[1].stars - <a href review[1].author.url>review[1].author.name</a>: <a href review[1].url>review[1].url</a>
		</li>
		<li>
			review[2].stars - <a href review[2].author.url>review[2].author.name</a>: <a href review[2].url>review[2].url</a>
		</li>
		<li>
			review[3].stars - <a href review[3].author.url>review[3].author.name</a>: <a href review[3].url>review[3].url</a>
		</li>
		<li>
			review[4].stars - <a href review[4].author.url>review[4].author.name</a>: <a href review[4].url>review[4].url</a>
		</li>
        </ul>
	</div>

</div>
