<!-- input parameters:
Tracks: a list of tracks, containing their title, playtime, band, record and some referal (url?) to its stream

 -->
<div class="tabPreview" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
	<h3>Tracks</h3>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="TextSuggesionstList" style="list-style: none">	<!-- a table may be considered as an alternative to the ulist -->
		<li>
			<a href playfunction><img source="play.png"></a> <a href track[0].record.url> track[0].title</a> - track[0].length <a href track[0].band.url>track[0].band.name</a>
		</li>
		<li>
			<a href playfunction><img source="play.png"></a> <a href track[1].record.url> track[1].title</a> - track[1].length <a href track[1].band.url>track[1].band.name</a>
		</li>
		<li>
			<a href playfunction><img source="play.png"></a> <a href track[2].record.url> track[2].title</a> - track[2].length <a href track[2].band.url>track[2].band.name</a>
		</li>
		<li>
			<a href playfunction><img source="play.png"></a> <a href track[3].record.url> track[3].title</a> - track[3].length <a href track[3].band.url>track[3].band.name</a>
		</li>
		<li>
			<a href playfunction><img source="play.png"></a> <a href track[4].record.url> track[4].title</a> - track[4].length <a href track[4].band.url>track[4].band.name</a>
		</li>
        </ul>
	</div>

</div>
