<!-- input parameters:
users: following and followed, each as list, containing at least their names, url and a (thumbnail) picture
-->
<div class="tabPreview" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
	<h3>Users</h3>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="ImageSuggesionstList" style="list-style: none;display: inline;">
            <li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="following[0].url"><img src="{following[0].ProfileThumb}">following[0].name</a>
				</div>
			</li>
			<li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="following[1].url"><img src="{following[1].ProfileThumb}">following[1].name</a>
				</div>
			</li>
			<li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="following[2].url"><img src="{following[2].ProfileThumb}">following[2].name</a>
				</div>
			</li>
			<li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="following[3].url"><img src="{following[3].ProfileThumb}">following[3].name</a>
				</div>
			</li>
        </ul>
	</div>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="ImageSuggesionstList" style="list-style: none;display: inline;">
            <li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="followed[0].url"><img src="{followed[0].ProfileThumb}">followed[0].name</a>
				</div>
			</li>
			<li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="followed[1].url"><img src="{followed[1].ProfileThumb}">followed[1].name</a>
				</div>
			</li>
			<li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="followed[2].url"><img src="{followed[2].ProfileThumb}">followed[2].name</a>
				</div>
			</li>
			<li>
				<div class="userThumbnail" style="height:70;width:70;float:left">
					<a href="followed[3].url"><img src="{followed[3].ProfileThumb}">followed[3].name</a>
				</div>
        </ul>
	</div>
</div>
