<!-- input parameters:
venues: s list of venues, containing at least their names, url and a (thumbnail) picture

 -->
<div class="tabPreview" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
	<h3>Venus</h3>
	<div class="SuggestionsContainer" style="height:100;float:left">
		<ul id="ImageSuggesionstList" style="list-style: none;display: inline;">
            <li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="venues[0].url"><img src="{venues[0].ProfileThumb}">venues[0].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="venues[1].url"><img src="{venues[1].ProfileThumb}">venues[1].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="venues[2].url"><img src="{venues[2].ProfileThumb}">venues[2].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="venues[3].url"><img src="{venues[3].ProfileThumb}">venues[3].name</a>
				</div>
			</li>
			<li>
				<div class="tabPreviewThumbnail" style="height:70;width:70;float:left">
					<a href="venues[4].url"><img src="{venues[4].ProfileThumb}">venues[4].name</a>
				</div>
			</li>
        </ul>
	</div>

</div>
