<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name>Graphity-Server</display-name>
	<listener>
		<listener-class>de.metalcon.server.Server</listener-class>
	</listener>
  <servlet>    
    <servlet-name>Read</servlet-name>
    <description>Read status update of users.</description>
    <servlet-class>de.metalcon.server.tomcat.Read</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Create</servlet-name>
    <description>Create users, follow edges and status updates.</description>
    <servlet-class>de.metalcon.server.tomcat.Create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <description>Delete users, follow edges and status updates.</description>
    <servlet-class>de.metalcon.server.tomcat.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Read</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>