@charset "UTF-8";

*
{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

html, body{
	height: 100%;
}

.form-control
{
	resize: none;
}

.website-preview
{
	width: 600px; height: 1200px; padding: 0; overflow: hidden;
}

body 
{
	height: 100%;
	background: #B8B8B8;
}

.wrapper
{
	background: #fff;
	width: 800px;
	border: 1px solid #a1a1a1;
	margin: 10px auto 20px auto;
	height: auto;
}

.form-group.message-input
{
	position: relative;	
	width: 50%;
	height: auto;
	color: #666;
	margin: 10px;
}

.textbox_buttons-holder
{
	width: auto;
}

.btn.btn-primary.message-submit
{
	display: none;
	margin: 5px 0 5px 0;
}

.btn.btn-default.button-clear
{
	display:none;
	margin: 5px 0 5px 0;
}

.btn.btn-default.button-clear-link
{
	display:none;
	margin: 5px 0 5px 0;
}
.btn.btn-default.button-cancel
{
	display:none;
	margin: 5px 0 5px 0;
}

.message-display-wrapper
{
	margin: 10px;
	border: 1px solid #e1e1e1;
	height: 100%;
	width: auto;
	color: #444;
	overflow: auto;
}

.comments-holder-outside
{
	height: auto;
	font-size: 13px;
	margin: 10px 5px 5px 5px;
	color: #555;
}

ul.comments-holder
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	overflow: hidden;
}

ul.comments-holder li.single-comment-holder
{
	list-style-type: none;
	height: auto;
	width: auto;
	margin: 5px 0 5px 0;
	border: 1px solid #e1e1e1;
	overflow: hidden;
	position: relative;
}

ul.comments-holder li.single-comment-holder:hover
{
	border: 1px solid #c1c1c1;
}

ul.comments-holder li.single-comment-holder .user-img
{
	float: left;
	height: 65px;
	width: 65px;
	margin: 0 10px 0 0;
}

ul.comments-holder li.single-comment-holder .user-img img.user-img-pic
{
	width: 55px;
	height: auto;
	margin: 5px;
	border: 1px solid #a1a1a1;
}

ul.comments-holder li.single-comment-holder .user-img img.user-img-pic:hover
{
		border: 1px solid #717171;
}

.comment-body 
{
	width: auto;
}

ul.comments-holder li.single-comment-holder h3.username-field
{
	height: 30px;
	line-height: 27px;
	color: #2E5CB8;
	font-size: 14px;
	margin: 0 0 0 10px;
}

ul.comments-holder li.single-comment-holder h3.username-field:hover
{
	color: #254A93;
}

ul.comments-holder li.single-comment-holder .comment-text
{
	display: block;
	width: auto;
	font-size: 13px;
	margin: 0 10px 10px 75px;
	word-wrap: normal;
	overflow: auto;
}

.comment-date
{
	position: absolute;
	top: 0px;
	right: 10px;
	line-height: 27px;
}

.link_box
{
	min-height: 100px;
	height: auto;
	width: 500px;
	margin: 5px 0 5px 0;
	border: 1px solid #B4B4B4;
	overflow: hidden;
	position: relative;
}

.link_picture img
{
	float: left;
	height: 90px;
	width: 90px;
	margin: 5px;
}

.link_text_wrapper
{

}

.link_title
{

}

.link_description
{
	display: block;
	width: auto;
	font-size: 11px;
	margin: 0 10px 10px 75px;
	word-wrap: normal;
	max-height: 100px;
	overflow: auto;
}

