<web-app xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name>autocompleteServer</display-name>
 	<listener>
   		<listener-class>de.metalcon.autocompleteServer.ContextListener</listener-class>
   	</listener>
	<servlet> 
		<servlet-name>suggest</servlet-name>
   		<description>Retrieve Suggestions for an Autocomplete service</description>
   		<servlet-class>de.metalcon.autocompleteServer.RetrieveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>suggest</servlet-name>
   		<url-pattern>/suggest</url-pattern>
	</servlet-mapping>
</web-app>
