<web-app xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name>autocompleteServer</display-name>
 	<listener>
   		<listener-class>de.metalcon.autocompleteServer.Server</listener-class>
   	</listener>
	<servlet> 
		<servlet-name>suggest</servlet-name>
   		<description>Retrieve Suggestions for an Autocomplete service</description>
   		<servlet-class>de.metalcon.autocompleteServer.Retrieve.RetrieveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
   		<servlet-name>suggest</servlet-name>
   		<url-pattern>/suggest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>insert</servlet-name>
		<description>Create new Suggestions for the Autocomplete Service</description>
		<servlet-class>de.metalcon.autocompleteServer.Create.CreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insert</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
</web-app>
