<web-app xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name>autocompleteServer</display-name>
  <servlet>    
    <servlet-name>suggest</servlet-name>
    <description>Read status update of users.</description>
    <servlet-class>de.metalcon.autocompleteServer.TestServlet</servlet-class>
    <listener>de.metalcon.autocompleteServer.ContextListener</listener>
  </servlet>
  <servlet-mapping>
    <servlet-name>suggest</servlet-name>
    <url-pattern>/suggest</url-pattern>
  </servlet-mapping>
</web-app>
