<!-- input parameters:
	a list of active filters
	a list of possible sortings
 -->
	<div class="filterBox">

		<div class="filter">
			<ul>
				<li>
					filter[0].deselectButton filter[0].name 	<!-- deselect-Button is just a simple, clickable image -->
				</li>
				<li>
					filter[1].deselectButton filter[1].name
				</li>
			</ul>
		</div>

		<div class="sort">
			<ul>
				<li>
					<select name="sorting">
						<option value="sortingCriteria[0].value">sortingCriteria[0].name</option>
						<option value="sortingCriteria[1].value">sortingCriteria[1].name</option>
						<option value="sortingCriteria[2].value">sortingCriteria[2].name</option>
					</select>
				</li>
			</ul>
		</div>

	</div>
