music_directory = /etc/musicStorageServer/testing/
temporary_directory = /tmp/musicStorageServer/testing/

# ogg/vorbis encoding settings
sample_rate_average = 128
sample_rate_min = -1
sample_rate_max = -1

# meta database settings
database_host = localhost
database_port = 27017
database_name = testmusicdb