body {
    margin: 0;
    padding: 1em;
    font: 1em sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    margin: .5em 0;
    padding: .2em 0;
    border-top: 1px solid black;
}

h2 {
    margin: 1em 0 .5em 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

form, .info, .body {
    background: #EEE;
    border-top: 1px solid black;
    border-bottom: 5px solid #E8E8E8;
}

form {
    margin: 0;
    padding: .5em;
    position:relative;
}

label {
    margin-top: .5em;
    display: block;
    width: 15em;
    float: left;
    clear: left;
    font-size: .8em;
    font-weight: bold;
}

input, textarea {
    margin: .5em 0 0 0;
    padding: .2em;
    border: 1px solid black;
    display: block;
    width: 30em;
    font: 1em sans-serif;
    background: white;
}

#formSubmit {
    width: 5em;
}

.info {
    padding: .5em;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 15em;
    font-size: .8em;
}

.info em {
    font-style: normal;
    font-weight: bold;
}

.head {
    margin-top: 1em;
    position: relative;
}

.head .verb {
    font-weight: bold;
    font-size: .6em;
}

.head .actor {
    margin-left: .5em;
    margin-right: .2em;
    font-weight: bold;
}

.actor_info,
.body_info {
    font-size: .6em;
}

.head .published {
    display: block;
    position: absolute;
    top: 0;
    right: 1em;
}

.body {
    padding: .5em;
}

.body_info {
    display: block;
}