
body{font-family:"Trebuchet MS",Arial,sans-serif;line-height:24px;font-size:14px;}
#metal{width:400px;margin:100px auto;border:1px solid #AFAFAF;}
#metal > div{background-color:#333333;border:1px solid #F6F6F6;padding:10px;}
#metal .reader{height:400px;overflow:auto;border:1px solid #F6F6F6;padding:80px 10px 10px 10px;background:#fff url(metalcon.jpg) center 0 no-repeat;}
#metal ul{margin:0;padding:0;}
#metal ul li{list-style-type:none;color:#A3A3A3;border-bottom:1px solid #E4E4E4;margin-bottom:5px;padding-bottom:5px;}
#metal ul li div{color:#777;}
#metal ul li a{color:#444;text-decoration:none;font-weight:normal;}
#metal ul li a:hover{text-decoration:underline;}
#metal ul li span{float:center;}
#metal .metal-loading{position:absolute;margin-left:240px;width:16px;height:16px;background:transparent url(ajax-loader.gif) center center no-repeat;}