<html>
<head>
<title>Example user page with active news tab</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="styles.css">
<div class="tab" style="float:left">

	<div class="headline">
		<h1>Thrudvangr Rising</h1>
	</div>

	<div class="filterOptionsBox">
		<div class="filterSelection"> filter:
			<ul>
				<li>Thrudvangr Rising</li>
			</ul>
			
		</div>

		<div class="sortSelection">
			sort by:
			<ul>
				<li>date</li>
				<li>relevance</li>
			</ul>
		</div>

	</div>
<br />
	<div class="newsfeedEntry">
		<div class="newsfeedEntryImage" style="width:68;float:left">
			<img src="example.png">
		</div>
		<div class="newsfeedEntryContent" style="float:left">
			This is some example text this user might have posted.
		</div>
	</div>

<div class="newsfeedEntry" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
		<div class="newsfeedEntryImage" style="width:68;float:left">
			<img src="example2.png">
		</div>
		<div class="newsfeedEntryContent" style="float:left">
			This is another example text this user might have posted.
		</div>
	</div>

</div>

<div class="tabPreviewContainer" style="float:left">

	<div class="infoTab" >	
		Thrudvangr is n years old and lives in some town.
	</div>

	<div class="TabPreview">
		News (active Tab)
	</div>
	<div class="TabPreview">
		Users
	</div>

	<div class="TabPreview">
		Photos
	</div>

	<div class="TabPreview">
		Events
	</div>

	<div class="TabPreview">
		Venues	
	</div>

	<div class="TabPreview">
		Reviews	
	</div>

	<div class="TabPreview">
		Bands	
	</div>

	<div class="TabPreview">
		Records	
	</div>

	<div class="TabPreview">
		Tracks	
	</div>

</div>

</body>
</html>
