<html>
<head>
<title>Example user page with active news tab</title>
</head>
<body>

<div class="tab" style="float:left">

	<div class="headline">
		<h1>Thrudvangr Rising</h1>
	</div>

	<div class="filterBox" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
		<div class="filter" id="filter" style=" float:left"> filter:
			<ul>
				<li>Thrudvangr Rising</li>
			</ul>
			
		</div>

		<div class="sort" style=" float:right">
			sort by:
			<ul>
				<li>date</li>
				<li>relevance</li>
			</ul>
		</div>

	</div>
<br />
	<div class="newsfeedEntry" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
		<div class="newsfeedEntryImage" style="width:68;float:left">
			<img src="example.png">
		</div>
		<div class="newsfeedEntryContent" style="float:left">
			This is some example text this user might have posted.
		</div>
	</div>

<div class="newsfeedEntry" style="border:thin solid red;background-color:#FFFFAA;width:750;height:80">
		<div class="newsfeedEntryImage" style="width:68;float:left">
			<img src="example2.png">
		</div>
		<div class="newsfeedEntryContent" style="float:left">
			This is another example text this user might have posted.
		</div>
	</div>

</div>

<div class="tabPreview" style="float:left">

	<div class="infoTab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">	
		Thrudvangr is n years old and lives in some town.
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		News (active Tab)
	</div>
	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Users
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Photos
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Events
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Venues	
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Reviews	
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Bands	
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Records	
	</div>

	<div class="tab" style="border:thin solid red;background-color:#FFFFAA;height:80;position:relative;top:20;left:20">
		Tracks	
	</div>

</div>

</body>
</html>
